body {
  padding: 0px;
  margin: 0;
}
.l-link {
  display: block;
  height: 26px;
  line-height: 26px;
  padding-left: 10px;
  text-decoration: underline;
  color: #333;
}
.l-link2 {
  text-decoration: underline;
  color: white;
  margin-left: 2px;
  margin-right: 2px;
}
.l-layout-top {
  background: #102A49;
  color: White;
}
.l-layout-bottom {
  background: #E5EDEF;
  text-align: center;
}
#pageloading {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #ffffff url('../img/loading.gif') no-repeat center;
  width: 100%;
  height: 100%;
  z-index: 99999;
}
.l-link {
  display: block;
  line-height: 22px;
  height: 22px;
  padding-left: 16px;
  border: 1px solid white;
  margin: 4px;
}
.l-link-over {
  background: #FFEEAC;
  border: 1px solid #DB9F00;
}
.l-winbar {
  background: #2B5A76;
  height: 30px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 99999;
}
.space {
  color: #E7E7E7;
}
/* 顶部 */
.l-topmenu {
  margin: 0;
  padding: 0;
  height: 31px;
  line-height: 31px;
  background: url('../img/top.jpg') repeat-x bottom;
  position: relative;
  border-top: 1px solid #1D438B;
}
.l-topmenu-logo {
  display: inline-block;
  padding-top: 2px;
  width: 22px;
  color: #E7E7E7;
  padding-left: 25px;
  line-height: 26px;
  /*background:url('../img/topicon.gif') no-repeat 10px 5px;*/
}
.l-topmenu-logo img {
  width: 100%;
  height: 100%;
}
.top-title {
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  margin: 0;
}
.top-status {
  display: inline-block;
  line-height: 1.5rem;
  float: right;
  margin-right: 5px;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
}
.top-status span {
  display: inline-block;
  margin: 0 1rem;
  vertical-align: middle;
}
.top-status i {
  font-style: normal;
}
.top-status a {
  color: #fff;
}
.l-topmenu-welcome {
  position: absolute;
  height: 24px;
  line-height: 24px;
  left: 60px;
  top: 2px;
  color: #070A0C;
}
.l-topmenu-welcome a {
  color: #E7E7E7;
  text-decoration: underline;
}
.body-gray2014 #framecenter {
  margin-top: 3px;
}
.viewsourcelink {
  background: #B3D9F7;
  display: block;
  position: absolute;
  right: 10px;
  top: 3px;
  padding: 6px 4px;
  color: #333;
  text-decoration: underline;
}
.viewsourcelink-over {
  background: #81C0F2;
}
.l-topmenu-welcome label {
  color: white;
}
#skinSelect {
  margin-right: 6px;
}
.copyright {
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 12px;
}
/*备注 
 背景色 #EAEEF5  淡蓝色
 边框色 #BED5F3  淡蓝色
 LOGO红 #E40717  红色
 标准橙 #FF5500
 禁用灰 #F3F5F9
*/
body {
  padding: 0;
  margin: 0;
}
body {
  font-size: 13px;
}
body td {
  font-size: 12px;
}
body.wms-iframe {
  background: #EAEEF5;
  min-width: 1000px;
  overflow-y: hidden;
}
#pageloading {
  position: absolute;
  left: 0px;
  top: 0px;
  background: transparent url('../js/ligerUI/skins/Aqua/images/common/bigloading.gif') no-repeat center;
  width: 100%;
  height: 100%;
  z-index: 99999;
}
/* 顶部 */
.wms-iframe .p-top {
  margin: 0;
  height: 55px;
  position: relative;
  border-top: 1px solid #1D438B;
}
.wms-iframe .p-top-logo {
  float: left;
  padding-top: 6px;
}
.wms-iframe .p-top-logo img {
  padding: 0 10px;
}
.wms-iframe .p-top-title {
  color: #183152;
  padding-top: 6px;
  font-family: '微软雅黑 Bold', '微软雅黑';
  font-size: 30px;
  font-weight: 700;
  float: left;
}
.wms-iframe .p-top-welcome {
  float: right;
  position: relative;
  top: 35px;
  right: 4px;
}
.wms-iframe .p-top-welcome a:link {
  color: #565656;
}
.wms-iframe .p-top-welcome a:hover {
  color: #E40717;
}
/* 框架布局 */
.wms-iframe .p-layout {
  width: 99.2%;
  margin: 0 auto;
  margin-top: 1px;
}
/* tab 超长就...*/
.wms-iframe .p-layout .framecenter .l-tab-links li a {
  display: inline-block;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.wms-iframe .p-layout a.l-link,
.wms-iframe .p-layout a.l-link:visited {
  display: block;
  line-height: 22px;
  height: 22px;
  padding-left: 16px;
  border: 1px solid white;
  margin: 4px;
  color: #070A0C;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.wms-iframe .p-layout a.l-link:hover {
  background: #FFEEAC;
  border: 1px solid #DB9F00;
}
.wms-iframe .copyright {
  height: 1px;
  line-height: 1px;
  text-align: center;
  overflow: hidden;
}
/* 首页 框架 end */
/*body.wms{padding-bottom: 50px}*/
/*只是某些个页面ajax无数据时底部看上去很难看*/
/* 通用隐藏 */
.hide {
  display: none;
}
.hidden {
  visibility: hidden;
}
.hidden {
  visibility: hidden;
}
.B,
.b {
  font-weight: bold;
}
.wms-nbsp {
  display: inline-block;
}
/* 让禁用的input背景色更明显 */
input:disabled {
  background: #F3F5F9;
}
/* 解决弹出层 双滚动条问题 fix by z3f */
.l-dialog-content {
  overflow: inherit;
  padding-right: 5px;
}
/* 修正弹出层 padding值 */
.p-dialog-fix {
  margin-right: 12px;
}
/*  覆盖原来的样式 */
.l-button {
  border-radius: 2px;
  min-width: 100px;
  margin-right: 10px;
}
/* 向下、向上的梯形选项卡 */
.p-ladder-shaped-down {
  background: url(../img/wms/wms-tab-bg.gif) no-repeat left -1px;
  display: inline-block;
  height: 19px;
  width: 95px;
  padding: 2px 9px;
  overflow: hidden;
}
.p-ladder-shaped-up {
  background: url(../img/wms/wms-tab-bg.gif) no-repeat left -23px;
  display: inline-block;
  height: 19px;
  width: 80px;
  padding: 2px 9px;
  overflow: hidden;
}
/*统一分页*/
.p-page {
  margin: 2px auto;
  background: #eaf2fe;
}
.p-page-btn {
  float: right;
}
.p-center {
  text-align: center;
}
/*统一颜色*/
.p-red {
  color: #E40717;
}
.p-orange {
  color: #F50;
}
.p-blue {
  color: blue;
}
.p-green {
  color: green;
}
.p-gray {
  color: #F3F5F9;
}
.p-box {
  border: 1px solid #84A0C4;
  margin: 2px;
}
.p-popform-footer td {
  padding: 10px;
}
/* 表格 */
.p-table {
  border: 1px solid #84A0C4;
}
.p-table tbody tr:hover {
  background: #c9dfff;
}
.p-table td {
  border: 1px solid #A3C0E8;
  padding: 1px;
  height: 28px;
}
.p-table-title {
  background: #F4F8FE;
  height: 30px;
  border: 1px solid #D7E5FC;
  line-height: 30px;
  padding-left: 5px;
}
.p-table-header {
  height: 30px;
  text-align: center;
  color: #333;
  font-weight: bold;
  background: url("../js/ligerUI/skins/Aqua/images/grid/header-bg.gif") repeat-x scroll left bottom #e2f0ff;
}
.p-tr-bg-on {
  background: #C9DFFF;
}
.p-table-list {
  margin: 5px auto;
  width: 99%;
}
.p-tab-list {
  position: relative;
  top: -4px;
}
/*详情表*/
.wms-detail-box {
  padding: 5px 10px;
  border-collapse: separate;
  border-spacing: 5px 2px;
}
.wms-detail-box label {
  text-align: right;
  display: block;
  min-width: 80px;
}
/* 搜索区 */
.search-box {
  background: #F0F4FA;
  padding-bottom: 5px;
}
select {
  min-width: 130px;
}
/*统一select最小宽度为130px*/
.l-bar-selectpagesize select {
  width: 50px;
  min-width: 50px;
  margin: 0;
}
.search-box td {
  height: 30px;
}
/*按钮区*/
.wms-button-box {
  text-align: center;
  padding: 20px;
}
/* 1.5仓库设置 */
.warehouse-list-table {
  margin: 5px auto;
  width: 99%;
}
.warehouse-list-off {
  color: red;
}
.warehouse-add-table td {
  padding: 5px;
  height: 20px;
  border: 0;
}
.radiation-form {
  border: 1px solid #84A0C4;
  width: 550px;
  margin: 0 auto;
}
.radiation-form-top {
  height: 50px;
  border-bottom: 1px solid #D7D7D7;
  margin: 10px auto;
}
.radiation-form-set td {
  padding: 5px 0;
}
.radiation-form-set select {
  height: 150px;
  width: 122px;
}
/* 2.1 采购订单 */
.in-order-list {
  margin: 0 1px;
}
.in-order-list table {
  text-align: center;
}
.in-order-datail-list-title {
  background-position: -10px -23px;
  padding: 0;
  height: 23px;
  width: 90px;
}
.in-order-datail-list-title span {
  border-left: 1px solid #A3C0E8;
  display: inline-block;
  padding: 3px 10px 4px 7px;
  margin-top: 1px;
}
.in-order-datail-list {
  position: relative;
  top: -4px;
}
/* 2.2 收获登记 */
.search-IMEI {
  padding: 10px;
  margin: 10px 2px;
  background: #EAF2FE;
}
/* 2.3物料代码和SKU */
.search-sku-box {
  background: #fff;
  border-bottom: 1px solid #BED5F3;
}
.list-sku-table {
  margin: 5px auto;
  width: 99%;
}
/* 4.1 销售订单*/
.order-search-tab {
  border: 1px solid #BED5F3;
  width: 99%;
  margin: 2px auto;
}
.order-search-tab .l-tab-links {
  background: #FFF;
  left: -1px;
  padding-left: 2px;
  position: relative;
  top: -1px;
}
.order-search-tab .l-tab-links ul {
  top: 2px;
}
.order-search-tab .l-tab-links li a {
  color: #2F60A1;
}
/* 4.3 订单配货 */
.dc-left {
  width: 250px;
  float: left;
  margin-right: 5px;
}
.dc-left h2 {
  margin: 5px;
}
.dc-left .p-table {
  color: #BCBCBC;
}
.dc-right {
  margin-left: 250px;
}
.dc-right .bigNum {
  font-size: 100px;
}
/* 4.4 打包*/
.pack table {
  border: 1px solid #E4E4E4;
}
.pack table td {
  padding: 4px;
  font-size: 13px;
}
/*div.meneame {font-family: SimSun;padding:3px; font-size: 80%; margin: 3px; color: #ff6500; text-align: center }
div.meneame a { border-right: #FF5500 1px solid; background-position: 50% bottom; border-top: #FF5500 1px solid;padding:2px 7px; border-left: #FF5500 1px solid; color: #ff6500; margin-right: 3px;  border-bottom: #FF5500 1px solid; text-decoration: none }
div.meneame a:hover { border-right: #FF5500 1px solid; border-top: #FF5500 1px solid;  border-left: #FF5500 1px solid; color: #ff6500; border-bottom: #FF5500 1px solid; background-color: #FFEEE5 }
div.meneame a:active { border-right: #FF5500 1px solid; border-top: #FF5500 1px solid;   border-left: #FF5500 1px solid; color: #ff6500; border-bottom: #FF5500 1px solid; background-color: #ffc794 }
div.meneame span.current { border-right: #ff6500 1px solid; border-top: #ff6500 1px solid;font-weight: bold;  border-left: #ff6500 1px solid; color: #ff6500; margin-right: 3px; border-bottom: #ff6500 1px solid; background-color: #FFEEE5; padding: 2px 7px;}
div.meneame span.disabled { border-right: #ffe3c6 1px solid;  border-top: #ffe3c6 1px solid; padding-bottom: 5px; border-left: #ffe3c6 1px solid; color: #ffe3c6; margin-right: 3px;  border-bottom: #ffe3c6 1px solid;padding: 2px 7px; }

/**/
/*多选区域*/
.multiple-area-box {
  padding: 10px;
  background: #f0f6fd;
  border: 1px solid #acd4fc;
  width: 430px;
}
.multiple-area-box ul {
  overflow: hidden;
}
.multiple-area-box li {
  float: left;
  width: 85px;
  margin-bottom: 10px;
}
.multiple-area-box li input {
  vertical-align: middle;
  margin-right: 3px;
}
.multiple-area-box .btn {
  padding: 10px 10px 0 0;
  text-align: right;
}
.multiple-area-box .btn input {
  margin-left: 10px;
}
.area-input {
  min-height: 18px;
  width: 380px;
  border: 1px solid #ccc;
  padding: 2px 0 0;
}
.area-input .item {
  display: inline-block;
  background: url("../js/ligerUI/skins/Aqua/images/controls/button-bg.gif") repeat-x scroll center center #e0edff;
  border: 1px solid #84A0C4;
  border-radius: 2px;
  padding: 0 5px;
  margin: 0 2px 2px;
}
.area-input .item a {
  display: inline-block;
  margin-left: 5px;
  text-decoration: none;
  color: #000000;
}
/*sku查询*/
.sku-search {
  text-align: center;
  padding: 20px 0;
}
.sku-search input[type="text"] {
  padding: 2px 0;
  width: 20%;
}
.sku-info {
  margin: 10px auto;
  width: 70%;
}
.sku-info td[align="right"] {
  width: 80px;
}
.operate-search {
  text-align: center;
  padding: 15px 0;
}
.operate-search table {
  margin: 0 auto;
}
.td30 td {
  height: 30px;
}
.bottom-btn {
  padding: 20px 0;
  text-align: center;
}
.bottom-btn input {
  margin: 0 5px;
}
td.def {
  color: #f00;
}
input.readonly {
  border: 1px solid #ccc;
  background: #dddddd;
}
.wms-dialog-box {
  padding: 30px 0;
  text-align: center;
}
.wms-dialog-box p {
  padding-top: 10px;
  color: #3d79c9;
}
.wms-dialog-box input {
  width: 80px;
}
.wms-dialog-box input.input-file {
  width: 150px;
}
.dialog-retag {
  padding: 10px;
}
.dialog-retag input {
  margin-right: 5px;
  vertical-align: middle;
}
.dialog-retag img {
  vertical-align: middle;
  margin-left: 165px;
}
.dialog-retag-maker {
  overflow: hidden;
}
.dialog-retag-maker li {
  float: left;
  margin: 10px 5px;
  width: 127px;
}
.dialog-retag-maker li.time {
  width: 260px;
}
.dialog-retag-maker li span {
  border-bottom: 1px solid #a9a7a7;
  padding: 0 10px;
}
.p-table td.empty-data {
  text-align: center;
  padding: 10px 0;
}
.l-bar-toggle .toggle {
  background: url(../img/wms/toggle-icon.gif) no-repeat;
  background-position: 12px 5px;
}

.l-bar-toggle .expand {
  background: rgba(0, 0, 0, 0) url("../img/wms/toggle-expand-icon.gif") no-repeat scroll 12px 5px;
}

.s-toggle {
  display: inline-block;
  width: 25px;
  height: 25px;
  float: right;
  margin-top: -25px;
  padding: 0 6px;
}
.welcome {
  margin: 2em;
}
.l-bar-group {
  line-height: 24px;
}
.l-panel-bbar-inner {
  min-width: 500px;
}
.l-bar-button {
  margin-top: 0;
}
.p-page-other strong {
  display: inline-block;
  margin-top: 2px;
  font-weight: bold;
}
.checkAll {
  margin-right: 5px;
}
.p-table td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.l-toolbar {
  border-top: 1px solid #9cbae7;
  padding-top: 1px;
  margin: 1px 1px 0 1px;
}
.l-table-bbtn td {
  height: 40px;
}
.p-page strong {
  display: inline-block;
  line-height: 30px;
  margin-left: 10px;
}
.warehouse-list-table {
  width: 99.8%;
  margin: 1px;
}
.warehouse-add-table {
  padding-top: 1em;
}
